
development:
  adapter: postgresql
  database: everblogr_development
  username: everblogr
  password: 
test:
  adapter: postgresql
  database: everblogr_test
  username: everblogr
  password: 
production:
  adapter: postgresql
  database: everblogr_production
  username: everblogr
  password: 